.form-wizard .nav > li.active > a,
.form-wizard .nav > li.active > a:hover,
.form-wizard .nav > li.active > a:focus {
  background: none;
  color: #666;
  border: none;
}
.form-wizard .nav > li > a.active .menu-icon {
    background: #c6d420;
    color: #152342;
}
.form-wizard .nav > li.active .menu-icon {
  background: #1fae66;
  color: #FFF;
}
.form-wizard .nav > li > a {
  color: #AAA;
  padding: 15px;
  text-align: center;
}
.form-wizard .nav > li > a:hover,
.form-wizard .nav > li a:focus {
  background: none;
}
.form-wizard .nav .menu-icon {
  border-radius: 30px;
  display: block;
  height: 40x;
  line-height: 40px;
  width: 40px;
  margin: 0 auto 5px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  font-size: 16px;
  background: #F5F5F5;
  color: #AAA;
}
.form-wizard .nav .line {
  height: 1px;
  width: 100%;
  background: #F5F5F5;
}
.form-wizard .tab-content {
  margin-top: 10px;
  border-top: 1px solid #EEEEEE;
  padding-top: 30px;
}
.form-wizard .wizard .btn {
  background-color: #f89c2c;
  color: #ffffff;
}
.form-wizard .nav-tabs {
  border-bottom: none;
}
.form-wizard .nav-tabs > li > a:hover {
  border-color: #EEE;
}
.form-wizard .progress {
  height: 10px;
}
.form-wizard.condensed .nav > li.active > a,
.form-wizard.condensed .nav > li.active > a:hover,
.form-wizard.condensed .nav > li.active > a:focus {
  background: #1fae66;
  color: #FFF;
}
.form-wizard.condensed .nav > li.active .menu-icon {
  background: #FFF;
  color: #1fae66;
}
.form-wizard.condensed .nav > li > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #E5E5E5;
}
.form-wizard.condensed .progress {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.form-wizard li{
  width: 50%;
  text-align: center;
}